a {
    color: #ff2080;
    text-decoration-line: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia;
}

code {
    background-color: #cccccc;
    color: green;
    font-family: Consolas, "Courier New";
}

textarea.code {
    width: 95%;
    resize: none;
    font-size: 20px;
    font-family: Consolas, "Courier New";
}

/* sidebar opener*/
.openbtn {
    position: absolute;
    text-decoration: none;
    font-size: 100px;
    padding: 0px;
    top: -10px;
    left: 2%;
    color: #818181;
    transition: 0.3s;
}

.openbtn:hover {
    color: #000000;
}

/* The side navigation menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    white-space: nowrap;
    font-family: Georgia;
}

/* The navigation menu links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar #current_page {
    color: red;
    font-weight: bold;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#top {
    position: absolute;
    width: 80%;
    top: 30px;
    left: 10%;
    padding: 20px 25px 20px 25px;
    background-color: #8080ff;
    border: 5px solid blue;
    border-radius: 25px;
}

#top h1 {
    font-size: 40px;
    font-weight: normal;
}

#top #pfp {
    position: absolute;
    left: 350px;
    bottom: 20px;
}

#main {
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation
    transition: margin-left .5s;
    padding: 20px;*/
    position: absolute;
    width: 80%;
    top: 200px;
    left: 10%;
    padding: 20px 25px 20px 25px;
    background-color: #ffb499;
    border: 5px solid red;
    border-radius: 25px;
}

#content {
    height: 80%;
    width: 95%;
    padding: 20px 25px 20px 25px; /*top right bottom left*/
    background-color: #c0c0c0;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 18px;
    word-wrap: break-word;
}
